* {
    box-sizing: border-box;
}

:root {
    --section-bg-color: #10375c;
    --services-bg-color: #ffffff;
    --works-bg-color: #f6fbff;
    --btn-bg-color: #2e80ce;
    --icon-bg-color: #eff6fd;
    --active-icon-icon-bg-color: #2e80ce;
    --white-bg-color: #ffffff;
    --card-bg-color: #eaf6ff;
    --text-white: #ffffff;
    --text-light: #c9d2da;
    --text-dark-blue: #10375c;
    --text-slate-gray: #575f66;
    --border-color: #eaf6ff;
    --active-border-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 60px;
    border-radius: 30px;
    background: var(--btn-bg-color);
    color: var(--text-white);
}

.heading--lvl-1 {
    font-size: 7rem;
    color: var(--text-white);
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.heading--lvl-2 {
    font-size: 5rem;
    color: var(--text-dark-blue);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.heading--lvl-3 {
    font-size: 1.8rem;
    color: var(--text-dark-blue);
    font-weight: 600;
}

.text--desc {
    font-size: 1.8rem;
    color: var(--text-slate-gray);
    font-weight: 300;
    line-height: 1.66;
}

.text--desc--small {
    font-size: 1.6rem;
    color: var(--text-slate-gray);
    font-weight: 300;
    line-height: 1.75;
}

/* header */
.header {
    padding-top: 30px;
    background-color: var(--section-bg-color);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link {
    color: var(--text-light);
    font-weight: 300;
}

.navbar__link--active {
    color: var(--text-white);
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 9px;
    vertical-align: middle;
    background: currentColor;
    border-radius: 50%;
}

.btn-text {
    margin-right: 28px;
    color: var(--text-light);
    font-weight: 300;
}

.btn-sign-up {
    width: 104px;
    height: 30px;
    border-radius: 22px;
}

/* hero */
.hero {
    padding-top: 76px;
    padding-bottom: 110px;
    background-color: var(--section-bg-color);
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__content {
    width: 45%;
}

.hero__desc {
    margin-top: 22px;
    color: var(--text-light);
}

.hero__buttons {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 39px;
    font-weight: 400;
    color: var(--text-white);
}

.hero__media {
    display: flex;
    align-items: center;
    width: 46%;
}

.hero__img-wrap {
    width: 100%;
    height: 540px;
    border-radius: 6px;
    overflow: hidden;
}

.hero__img-wrap:first-child {
    width: 65%;
    z-index: 2;
}

.hero__img-wrap:last-child {
    width: 39%;
    height: 410px;
    margin-left: -8px;
    z-index: 1;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Services */
.services {
    margin-top: 170px;
    margin-bottom: 170px;
    background-color: var(--services-bg-color);
}

.services__header {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.services__desc {
    margin-top: 18px;
}

.services__inner {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__media {
    width: 49%;
    height: 570px;
    border-radius: 12px;
    overflow: hidden;
}

.services__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.services__content {
    width: 41%;
}

.services__item {
    display: flex;
    padding: 21px 22px 21px;
    transition: 0.25s;
}

.services__item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--icon-bg-color);
    flex-shrink: 0;
    color: #10375c;
    transition: 0.25s;
}

.services__item:hover .service-item__icon {
    background-color: var(--active-icon-icon-bg-color);
    color: #ffffff;
}

.service-item__content {
    margin-left: 19px;
}

.service-item__desc {
    margin-top: 8px;
}

.services__action {
    margin-top: 55px;
}

/* how it works */
.works {
    padding: 100px 0;
    background-color: var(--works-bg-color);
}

.works__desc {
    width: 40%;
    margin-top: 18px;
}

.works__list {
    display: flex;
    margin-top: 86px;
    justify-content: space-between;
    gap: 30px;
}

.works__item {
    border: 16px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--border-color);
    transition: 0.25s;
}

.works__item:hover {
    transform: translateY(-16px);
    --border-color: var(--active-border-color);
}

.works__item:hover .works-item__link {
    color: var(--active-border-color);
    font-weight: 400;
}

.works__item--wrap {
    padding: 43px 42px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--white-bg-color);
}

.works-item__title {
    margin-top: 18px;
    font-size: 1.6rem;
    color: var(--text-dark-blue);
    font-weight: 600;
    line-height: 1.75;
}

.works-item__desc {
    margin-top: 28px;
}

.works-item__link {
    display: inline-block;
    margin-top: 18px;
}

/* Features */
.features {
    padding-top: 170px;
    padding-bottom: 170px;
}

.features__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__media {
    width: 49%;
}

.features__content {
    width: 41%;
}

.features__img-wrap {
    border-radius: 6px;
    overflow: hidden;
}

.features__img-wrap--back {
    width: 90%;
    height: 370px;
    z-index: 1;
}

.features__img-wrap--front {
    width: 58%;
    height: 370px;
    z-index: 2;
    margin-top: -249px;
    margin-left: 238px;
}

.features__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    color: var(--text-slate-gray);
    font-weight: 300;
    line-height: 1.66;
}

.features__link {
    margin-top: 38px;
}

/* Team */
.team__heading {
    text-align: center;
}

.team__action {
    margin-top: 38px;
    text-align: center;
}

.team__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.team-member__img-wrap {
    width: 100%;
    height: 318px;
    background-color: var(--card-bg-color);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.team-member__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: 0.3s ease;
}

.team-member:hover .team-member__img {
    transform: scale(1.1);
}

.team-member__name {
    margin-top: 12px;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-dark-blue);
    font-weight: 400;
    line-height: 1.75;
}

.team-member__desc {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.85;
    color: var(--text-slate-gray);
}

.team__nav {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background: transparent;
    color: #575f66;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-circle:hover {
    background: var(--btn-bg-color);
    color: var(--text-white);
    border: 1px solid var(--btn-bg-color);
}

/* call to action */
.cta {
    margin-top: 170px;
    margin-bottom: 170px;
}

.cta__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #2e80ce;
}
.cta__media {
    width: 27.6%;
    align-self: stretch;
    position: relative;
}
.cta__img {
    width: 100%;
    height: 522px;
    position: absolute;
    bottom: 0;
}

.cta__content {
    width: 56.9%;
    padding-top: 76px;
    padding-bottom: 76px;
}

.cta__heading {
    width: 84.9%;
    color: var(--text-white);
}

.cta__desc {
    margin-top: 18px;
    color: var(--text-white);
}

.cta__btn-group {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* Blog */
.blog__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__content {
    width: 40.2%;
}

.blog__link {
    display: inline-block;
    margin-top: 28px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.blog__nav {
    margin-top: 28px;
    display: flex;
    gap: 18px;
}

.blog__list {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.blog-card {
    border-radius: 12px;
    border: 1px solid #e8ebee;
    overflow: hidden;
    transition: 0.3s;
}

.blog-card__img-wrap {
    /* width: 100%; */
    height: 172px;
}

.blog-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-card__content {
    padding: 18px 22px 21px;
}

.blog-card__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark-blue);
    line-height: 1.62;
}

.blog-card__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    color: var(--text-slate-gray);
    font-weight: 300;
    line-height: 1.71;
}

.blog-card__link {
    display: inline-block;
    margin-top: 12px;
    font-size: 1.4rem;
    color: var(--text-dark-blue);
    transition: 0.3s ease;
}

.blog-card:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
}

.blog-card:hover .blog-card__link {
    color: #2e80ce;
}
